<div class="share-buttons">

  <!-- Email -->
  <a href="mailto:?Subject=Simple Share Buttons&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 {{publicUrl}}{{link}}">
    <img src="https://simplesharebuttons.com/images/somacro/email.png" alt="Email" />
  </a>

  <!-- Facebook -->
  <a href="http://www.facebook.com/sharer.php?u={{publicUrl}}{{link}}" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
  </a>

  <!-- Google+ -->
  <a href="https://plus.google.com/share?url={{publicUrl}}{{link}}" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
  </a>

  <!-- Twitter -->
  <a href="https://twitter.com/share?url={{publicUrl}}{{link}}&amp;text=Coding%20Blocks%20PRoblem&amp;hashtags=codingblocksin" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
  </a>

</div>
