<section class="content">
    <div class="container-fluid upcoming-contest-card">
     <div class = "wrapper-overlay">
     <div class="upcoming-background-blur"></div>
     <h1 class = "col-md-12 col-lg-12 col-sm-12">{{model.contest.name}}</h1>
     <h2 class = "col-md-12 col-lg-12 col-sm-12"> {{moment-format model.contest.startTime 'MMMM Do YYYY, hh:mm a' 'X'}} to  {{moment-format model.contest.endTime 'MMMM Do YYYY, hh:mm a' 'X'}}</h2>
     <h3 class = "col-md-12 col-lg-12 col-sm-12">Contest has Ended.</h3>
     <h4 class = "col-md-12 col-lg-12 col-sm-12"> Go to practice section.</h4>
    </div>
    <div class = "description-overlay">
        <h1 class = "light-weight">About This Contest</h1>
        <p>{{model.contest.description}}</p>
    </div>
    </div>
</section>
{{outlet}}
