<div class="tabheader">
  <h2>{{problem.name}}</h2>
</div>
{{#if dailycb.isArchived}}
  <div class="alert alert-warning">
    This Code Byte is finished. You'll be awarded partial score for this problem.
  </div>
{{/if}}

<p>{{markdown-to-html problem.content.description}}</p>
<hr/>
{{#if problem.content.input-format}}
  <div id="inputFormat">
    <span><b>Input Format:</b></span>
    {{markdown-to-html problem.content.input-format}}
  </div>
{{/if}}
{{#if problem.content.constraints}}
  <div id="constraint">
    <span><b>Constraints:</b></span>
    <pre>{{problem.content.constraints}}</pre>
  </div>
{{/if}}
{{#if problem.content.output-format}}
  <div id="outputFormat">
    <span><b>Output Format:</b></span>
    {{markdown-to-html problem.content.output-format}}
  </div>
{{/if}}
<hr/>
{{#if problem.content.sample-input}}
  <div id="sampleInput">
    <span><b>Sample Input:</b></span>
    <pre>{{problem.content.sample-input}}</pre>
  </div>
{{/if}}
{{#if problem.content.sample-output}}
  <div id="sampleOutput">
    <span><b>Sample Output:</b></span>
    <pre>{{problem.content.sample-output}}</pre>
  </div>
{{/if}}
{{#if problem.content.explanation}}
  <div id="explanation">
    <span><b>Explanation:</b></span>
    <span>{{markdown-to-html problem.content.explanation}}</span>
  </div>
{{/if}}
{{#if problem.timeLimit}}
  <div id="timeLimit">
    <span><b>Time Limit:</b></span>
    <span>{{problem.timeLimit}} sec</span>
  </div>
{{/if}}
<hr/>
<div class="row clearfix">
  <div class="col-md-12 pt-detail">
    <ul class="pt-category">
      <li>
        <a href="#">
          <span class="center-block big-alpha">Points</span>
          <span style="color:#FF5483;">
                       <i class="material-icons">grade</i>
                       <span class="center-block">100</span>
                     </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="center-block big-alpha">Submissions</span>
          <span style="color: #02B3E4;">
                       <i class="material-icons">done</i>
                       <span class="center-block">{{problem.submitCount}}</span>
                     </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="center-block big-alpha">Max</span>
          <span style="color: #02CCBA;">
                       <i class="material-icons">trending_up</i>
                       <span class="center-block">100/100</span>
                     </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="center-block big-alpha">Total</span>
          <span style="color: #A951ED;">
                       <i class="material-icons">group</i>
                       <span class="center-block">{{problem.userCount}}</span>
                     </span>
        </a>
      </li>
    </ul>
  </div>
</div>


