<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Problem</h2>
      <small class="text-muted">Solve this problem and get ranked among your peers</small>
    </div>
    <div class="row clearfix">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="card">
          <div class="body">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
              <li role="presentation" class="active"><a href="#tabProblem" data-toggle="tab" aria-expanded="false">Description</a></li>
              <li role="presentation" class=""><a href="#tabSubmissions" data-toggle="tab" aria-expanded="true">Submissions</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="tabProblem">
                <div class="tabheader">
                  <h2>{{problem.name}}</h2>
                </div>
                <p>{{markdown-to-html problem.content.description}}</p>
                <hr />
                {{#if problem.content.input-format}}
                  <div id="inputFormat">
                    <span><b>Input Format:</b></span>
                    {{markdown-to-html problem.content.input-format}}
                  </div>
                {{/if}}
                {{#if problem.content.constraints}}
                  <div id="constraint">
                    <span><b>Constraints:</b></span>
                    <span>{{problem.content.constraints}}</span>
                  </div>
                {{/if}}
                {{#if problem.content.output-format}}
                  <div id="outputFormat">
                    <span><b>Output Format:</b></span>
                    {{markdown-to-html problem.content.output-format}}
                  </div>
                {{/if}}
                <hr />
                {{#if problem.content.sample-input}}
                  <div id="sampleInput">
                    <span><b>Sample Input:</b></span>
                    <pre>{{problem.content.sample-input}}</pre>
                  </div>
                {{/if}}
                {{#if problem.content.sample-output}}
                  <div id="sampleOutput">
                    <span><b>Sample Output:</b></span>
                    <pre>{{problem.content.sample-output}}</pre>
                  </div>
                {{/if}}
                {{#if problem.content.explanation}}
                  <div id="sampleOutput">
                    <span><b>Explanation:</b></span>
                    <span>{{problem.content.explanation}}</span>
                  </div>
                {{/if}}
                <hr />
                <div class="row clearfix">
                  <div class="col-md-12 pt-detail"><ul class="pt-category">
                    <li>
                      <a href="#">
                        <span>Points</span>
                        <i class="material-icons">star</i>
                        <span>100</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Time</span>
                        <i class="material-icons">access_time</i>
                        <span>10 Min</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Max</span>
                        <i class="material-icons">trending_up</i>
                        <span>100/100</span>
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        <span>Total</span>
                        <i class="material-icons">group</i>
                        <span>360</span>
                      </a>
                    </li>
                  </ul></div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="tabSubmissions">
                {{#problem-my-submissions submissions=problem.submissions}}{{/problem-my-submissions}}
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header clearfix">
                <h2 class="pull-left">Code Now</h2>
                <span class="pull-right" >
                  Language:
                <select id="langSelect" {{action "langChange" on="change"}} >
                  {{#each-in lang_codes as |langId langName|}}
                    <option value={{langId}} >{{langName.name}}</option>
                  {{/each-in}}
                </select>
                </span>
              </div>
              <div class="body">
                {{#ace-editor}}{{/ace-editor}}
                <a {{action "reset" problem}} href="javascript:void(0);" class="btn btn-raised btn-sm" role="button">Reset</a>
                <a id="run" {{action "run" problem}} data-loading-text="Running..." href="javascript:void(0);" class="btn btn-raised g-bg-blush2 btn-sm runner" role="button">Run</a>
                {{#if session.isAuthenticated}}
                  <a id="submit" {{action "submit" problem}} data-loading-text="Submitting..." href="javascript:void(0);" class="btn btn-raised g-bg-blush2 btn-sm pull-right runner" role="button">Submit</a>
                {{else}}
                   <a id="submit" class="btn g-bg-blush2 btn-sm pull-right disabled" role="button">Submit</a>
                {{/if}}
                
                {{#if (eq result "compile_error")}}
                  <hr/>
                  <p>Compilation Error:</p>
                  <p><pre>{{output}}</pre></p>
                {{else if (eq result 'output')}}
                  <hr/>
                  <p>Output:</p>
                  <p><pre>{{base64-decode output}}</pre></p>
                {{else if output}}
                  <hr/>
                  <ul class="collection">
                    {{#each output as |testcase index|}}
                      <li class="collection-item"><b>Testcase #{{sum index 1}} </b>
                        {{#if (eq testcase.result "timelimit")}}
                          Time Limit Exceeded
                        {{else if (eq testcase.result "correct")}}
                          Passed
                        {{else}}
                          {{testcase.result}}
                        {{/if}}
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}
                <hr/>
                <div class="clearfix small">
                  <a {{action "customInput" problem}} href="javascript:;" class="fntblue pull-left"><i class="material-icons">keyboard_arrow_down</i>
                    Provide custom input</a>
                </div>
                {{#if customInput}}
                  <textarea id="custom-input" class="col-md-12" id="custom-input"></textarea>
                {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>Best Submission</h2>
          </div>
          <div class="body">
            {{#problem-leaderboard leaderboard=leaderboard}}{{/problem-leaderboard}}
          </div>
        </div>
<!--
        <div class="card">
          <div class="header">
            <h2> Trending </h2>
            <ul class="header-dropdown m-r--5">
              <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                <ul class="dropdown-menu pull-right">
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                  <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="clearfix"><img src="assets/images/student/random-avatar1.jpg" width="30" class="img-circle pull-left marginR10"> <p>Cras justo odio<br>
              <small>C++, JS, Jquery, Java</small></p>
            </div>
            <div class="clearfix"><img src="assets/images/student/random-avatar2.jpg" width="30" class="img-circle pull-left marginR10"> <p>Dapibus ac facilisis in<br>
              <small>C++, JS, Jquery, Java</small></p></div>
            <div class="clearfix"><img src="assets/images/student/random-avatar3.jpg" width="30" class="img-circle pull-left marginR10"> <p>Porta ac consectetur ac<br>
              <small>C++, JS, Jquery, Java</small></p></div>
            <div class="clearfix"><img src="assets/images/student/random-avatar4.jpg" width="30" class="img-circle pull-left marginR10"> <p>Morbi leo risus<br>
              <small>C++, JS, Jquery, Java</small></p>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</section>