<section class="content text-center">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Attempt</h2>
	  <small class="text-muted">
		  Click below to start this contest. Note that if you close your
		  browser, your session will resume from where you left off, but the
		  timer will NOT stop.
	  </small>
    </div>
	<div class="contest-description text-left" style="padding-left: 3rem">
	  {{markdown-to-html this.model.description}}
	</div>
    {{#if error}}
      <div class="alert alert-danger">
        {{error}}
      </div>
    {{/if}}
	<div class="row clearfix">
    {{#if session.isAuthenticated}}
      {{#if started}}
        <button
          {{action (perform attemptContestTask this.model.id)}}
          class='btn btn-raised g-bg-blush2 waves-effect btn-sm'>
          {{#if attemptContestTask.isRunning}}
            Loading ...
          {{else}}
            Attempt Contest
          {{/if}}
        </button>
      {{else}}
        Please wait while we queue you for the contest
        <strong>Estimated time: {{left}} seconds</strong>
      {{/if}}
    {{else}}
      <strong>Please login to attempt this contest.</strong>
    {{/if}}
	</div>
  </div>
</section>
