<div class="col-xs-12 col-sm-6 col-md-4 ">
  {{#link-to link contest.id}}
    <div class="thumbnail card contestCard hover-card">
      <div class="img-overlay"></div>
      <img src={{contest.image}} alt={{contest.name}}>
      <div class="caption">
        <h3>{{contest.name}}</h3>
        <hr/>
		{{#if noEndTime}}
			<div class="timeLeft text-center" style="height: 100px; width: 80px;"></div>
		{{else}}
			<div class="timeLeft text-center">
			  <span class="timetxt text-center">{{#if archived}}Ended:{{else}}Ends:{{/if}}</span>
			  <span
				class="hours big-digit" style="color:#FF5483;">{{contest.endTimeObj.day}}</span>
			  <span
				class="big-alpha">{{contest.endTimeObj.month}}</span>
			  <span
				class="hours mintxt">{{contest.endTimeObj.hour}}
				: {{contest.endTimeObj.min}}</span>
			</div>
		{{/if}}
		{{#if contest.showCounts}}
        <div class="text-col-two text-center">
			<span class="big-digit" style="color: #02B3E4;">
				{{#if problem-count}}
					{{problem-count}}
				{{else}}
					{{contest.problemCount}}
				{{/if}}
			</span>
          <span class="big-alpha">Problems</span>
        </div>

		{{#if contest.quizCount}}
        <div class="text-col-two text-center">
			<span class="big-digit" style="color: #02CCBA;">{{contest.quizCount}}</span>
			<span class="big-alpha">Quizzes</span>
        </div>
		{{else}}
        {{#if showPoints}}
        <div class="text-col-two text-center">
			<span class="big-digit" style="color: #02CCBA;">{{contest.points}}</span>
          <span
            class="big-alpha">Points</span>
        </div>
	    {{/if}}
		{{/if}}
	  {{/if}}
        <hr>
        <p>{{truncate-multiline text = contest.description lines=2 showButton=false}}</p>
      </div>
    </div>
  {{/link-to}}
</div>
