<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="thumbnail card">
    <img src={{contest.image}} alt={{contest.name}}>
    <!--
    <div class="clearfix timeLeft">
      <span class="timetxt">TIME LEFT:</span>
      <span class="pull-right text-center">
        <span class="pull-left marginR10"><span class="hours">10</span> HRS</span>
        <span class="pull-left marginR10"><span class="minutes">00</span> MIN</span>
        <span class="pull-left"><span class="seconds">00</span> SEC</span></span>
    </div> -->
    <div class="caption">
      <h3>{{#link-to link contest.id}}{{contest.name}}{{/link-to}}</h3>
      <span class="marginR10">
        <img src="images/tag.png" alt=""/>
        <font size="1">Complex<img src="images/tag.png" alt=""> Data Structures</font>
      </span> <hr />
      <p>{{contest.description}}</p>
      <p class="smallcircle"><span class="circlepoint">{{contest.questions.length}}</span><span class="lblcircle">Problems</span></p>
      <p class="smallcircle"><span class="circlepoint">{{multiply contest.questions.length 100}}</span><span class="lblcircle">Points</span></p>
      <p> {{#link-to link contest.id class="btn btn-raised g-bg-blush2 waves-effect btn-sm" role="button"}}Attempt{{/link-to}}</p>
    </div>
  </div>
</div>
<!--
<div class="event-archive-happening active">
  <div id="event-2953" class="item-event feature-item post-2953 tp_event type-tp_event status-tp-event-happenning has-post-thumbnail hentry">
    <div class="event-wrapper">
      <div class="time-from">
        <div class="date">Started</div>
        <div class="month"> {{unix-to-time contest.startTime}}</div>
      </div>
      <div class="top-heading">
        <h4 class="title">{{#link-to link contest.id}}{{contest.name}}{{/link-to}}</h4>
        <div class="meta">
          <div> <span class="fa fa-bar-chart"></span>{{multiply contest.questions.length 100}} Points</div>
        </div>
      </div>
      <div class="description">
        <div class="thim-excerpt">{{contest.description}}</div>
      </div>
      <div class="view-detail"> {{#link-to link contest.id}} Enter This Contest {{/link-to}}</div>
    </div>
    <div class="image"><a href="#"> <img src="{{contest.image}}" alt="event-4" title="event-4" width="560" height="240"> </a></div>
  </div>
</div>-->
