<div class="col-xs-12 col-sm-6 col-md-4 ">
  {{#link-to (if active link 'contests.upcoming') contest.id}}
    <div class="thumbnail card contestCard hover-card">
      <div class="img-overlay"></div>
      <img src={{contest.image}} alt={{contest.name}}>
      <div class="caption">
        <h3>{{contest.name}}</h3>
        <hr/>
        <div class="timetxt">{{#if archived}}Ended:{{else}}Ends:{{/if}}</div>
        <div class="clearfix timeLeft text-center">
          <span
            class="hours big-digit">{{contest.endTimeObj.day}}</span>
          <span
            class="big-alpha">{{contest.endTimeObj.month}}</span>
          <span
            class="hours">{{contest.endTimeObj.hour}}:{{contest.endTimeObj.min}} {{contest.endTimeObj.meri1}}{{contest.endTimeObj.meri2}}</span>
        </div>
        <div class="pull-right">
          <p class="smallcircle">{{contest.problems.length}}<span class="lblcircle">Problems</span>
          </p>
          <p class="smallcircle">{{multiply contest.problems.length 100}}<span
            class="lblcircle">Points</span></p>
        </div>
        <p>{{contest.description}}</p>
      </div>
    </div>
  {{/link-to}}
</div>
