<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="card hover-card">
    <div class="header clearfix">
      <h2 class="pull-left">Code Now</h2>
      <span class="m-l-5 pull-right">
          Theme:
          <select id="themeSelect" {{action "themeChange" on="change"}} >
              {{#each-in theme_codes as |key value|}}
                  {{#if (eq value.mode theme)}}
                      <option value={{key}} selected>{{value.name}}</option>
                  {{else}}
                      <option value={{key}}>{{value.name}}</option>
                  {{/if}}
              {{/each-in}}
          </select>
      </span>
      <span class="pull-right">
             Language:
             <select id="langSelect" {{action "langChange" on="change"}} >
                 {{#each-in lang_codes as |key langName|}}
                     {{#if allowedLanguages}}
                         {{#if (in key allowedLanguages)}}
                             {{#if (eq key langId)}}
                                 <option value={{key}} selected>{{langName.name}}</option>
                             {{else}}
                                 <option value={{key}}>{{langName.name}}</option>
                             {{/if}}
                         {{/if}}
                     {{else}}
                         <option value={{key}}>{{langName.name}}</option>
                     {{/if}}
                 {{/each-in}}
             </select>
           </span>
    </div>
    <div class="body">
        {{#if allowedLanguages}}
            {{#ace-editor theme=theme lang_codes=lang_codes allowedLanguages=allowedLanguages}}{{/ace-editor}}
        {{else}}
            {{#ace-editor theme=theme}}{{/ace-editor}}
        {{/if}}
      <a {{action "reset" problem}} href="javascript:void(0);" class="btn btn-raised label-danger btn-sm"
                                          role="button">Reset</a>
      <a id="run" {{action "run" problem}} data-loading-text="Running..." href="javascript:void(0);"
         class="btn btn-raised g-bg-blush2 btn-sm runner" role="button">Run</a>
      {{#if session.isAuthenticated}}
        <a id="submit" {{action "submit" problem dailycb.isArchived}} data-loading-text="Submitting..."
           href="javascript:void(0);" class="btn btn-raised g-bg-blush2 btn-sm pull-right runner"
           role="button">Submit</a>
      {{else}}
        <a class="pull-right submit-login-message" href="" {{action 'popup'}}>Login To Attempt</a>
      {{/if}}

      {{#if (eq result "error")}}
        <hr/>
		<div class="alert alert-danger">
			Your solution could not be judged in time. If the problem persists, please report it to Hacker Blocks admins - info@hackerblocks.com.
        </div>
      {{else if (eq result "access_error")}}
        <hr/>
        <div class="alert alert-danger">
        You do not currently have the access for this problem. Please refresh and contact support@codingblocks.com if the issue persists
        </div>
      {{else if (eq result "auth_error")}}
        <hr/>
        <p class="alert alert-danger">
        <pre>You must be logged in to run code!</pre>
        </p>
      {{else if (eq result "compile_error")}}
        <hr/>
        <p>Compilation Error:</p>
        <p>
        <pre>{{output}}</pre>
        </p>
      {{else if (eq result 'output')}}
        <hr/>
        <p>Output:</p>
        <p>
        <pre>{{base64-decode output}}</pre>
        </p>
      {{else if output}}
		{{#submission-explanation id=submissionId explanation=explanation}} {{/submission-explanation}}
        <hr/>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Test Case Number</th>
            <th>Result</th>
          </tr>
          </thead>
          <tbody>
          {{#each output as |testcase index|}}
            <tr>
              <td> #{{sum index 1}}</td>
              <td>
                {{#if (eq testcase.result "timelimit")}}
                  Time Limit Exceeded
                {{else if (eq testcase.result "correct")}}
                  Passed
                {{else}}
                  {{testcase.result}}
                {{/if}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}
      <hr/>
      <div class="clearfix small">
        <a {{action "customInput" problem}} href="javascript:;" class="fntblue pull-left"><i
          class="material-icons">keyboard_arrow_down</i>
          Provide custom input</a>
      </div>
      {{#if customInput}}
        <textarea id="custom-input" class="col-md-12" id="custom-input">{{#if problem.content.sample-input}}{{problem.content.sample-input}}{{/if}}</textarea>
      {{/if}}
    </div>
  </div>

<div id="certificateModal" class="modal fade" data-backdrop="false" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Congratulations!</h4>
		<h5 class="text-muted">You Unlocked A New Level!</h5>
		<hr />
      </div>
      <div class="modal-body text-center">
		  <img src="{{level.image}}" height=150 width=150 />
		  <h5 class="red">{{level.title}}</h5>
		  <p class="text-muted">You can continue with this test to see how much you can score, or try your hand at something harder!</p>
		  <button type="button" class="btn btn-raised label-danger btn-lg" data-dismiss="modal">Got It!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="finishedModal" class="modal fade" data-backdrop="false" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Congratulations!</h4>
		<h5 class="text-muted">You've Finished This Track!</h5>
		<hr />
      </div>
      <div class="modal-body text-center">
		  <p class="text-muted">Congratulations on having made it so far! You'll hear from us soon.</p>
		  <button type="button" class="btn btn-raised label-danger btn-lg" data-dismiss="modal">Got It!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
</div>
