 <div class="row clearfix">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="card greenhead hover-card">
          <div class="header">
            <h2>{{dailycb.problem.name}}</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                <div class="row daily-problem-div">
                  <p id="daily-problem-description" class="para">{{dailycb.problem.content.content.description}}</p>
                </div>

                  {{#each dailycb.problem.tags as |tag|}}
                    <span class="marginR10 chip label label-danger" style="color: #fff;">{{tag}}</span>
                  {{/each}}
                <div class="row">
                  <hr>
                  <div class="col-lg-5 col-md-5 col-sm-12">
                    <p>{{#link-to 'dcb.weekly-problem.index' dailycb.problem.id class="btn btn-raised g-bg-blush2 waves-effect btn-lg" role="button"}}See Details & Attempt{{/link-to}}</p>
                  </div>
                </div>
                <div class = "row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-detail">
                    <ul class="pt-category">
                      <li>
                          <span class="center-block big-alpha">Points</span>
                          <span style="color:#FF5483;">
                            <i class="material-icons">grade</i>
                            <span class="center-block">100</span>
                          </span>
                      </li>
                      <li>
                          <span class="center-block big-alpha">Time</span>
                          <span style="color: #02B3E4;">
                            <i class="material-icons">access_time</i>
                            <span class="center-block">24 Hours</span>
                          </span>
                      </li>
                      <li>
                         <span class="center-block big-alpha">Max</span>
                          <span style="color: #02CCBA;">
                            <i class="material-icons">trending_up</i>
                            <span class="center-block">{{dailycb.maxscore}}</span>
                          </span>
                      </li>
                      <li>
                          <span class="center-block big-alpha">Total</span>
                          <span style="color: #A951ED;">
                            <i class="material-icons">group</i>
                            <span class="center-block">{{dailycb.count}}</span>
                          </span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {{#clock-view}}{{/clock-view}}
            </div>
          </div>
        </div>
      </div>
       <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
            <div class="card hover-card">
                <h4 class="text-center strong"><strong>Leaderboard</strong></h4>
                   <div class="leaderboard-generate-scroll-y">{{#problem-leaderboard avatar=true contestId=0}}{{/problem-leaderboard}}
                   </div>
            </div>
      </div>
    </div>
