<aside id="leftsidebar" class="sidebar">
  <!-- User Info -->
  <div class="user-info">
    {{#if (and model session.isAuthenticated)}}
    <div class="admin-image">
      {{#link-to "users.user" model.id}}
        {{#if model.photo}}
        <img src="{{model.photo}}" class="img-resize img-circle" alt="">
       {{else}}
        <img src="https://minio.cb.lk/img/avatar-{{avatarIndex model.id}}.svg" class="img-resize img-circle"
            alt=""> {{/if}}
      {{/link-to}}
    </div>
    <div class="admin-action-info"> <span><strong>Hello,</strong></span> {{#link-to "users.user" model.id}}
      <h3><strong>{{first-name model.name}}</strong></h3>{{/link-to}}
    </div>
    {{else}}
    <div class="admin-action-info">
      <button class="btn btn-filled-aqua" {{action 'popup'}}data-toggle="modal" data-target="#loginModal">Login | Sign Up</button>
    </div>
    {{/if}}
  </div>
  <!-- #User Info -->
  <!-- Menu -->
  <div class="menu">
    <ul class="list">
      <li class="header">MAIN NAVIGATION</li>
      {{#link-to 'index' tagName="li"}}<a href="#"><i class="zmdi zmdi-home"></i><span>Home</span></a>{{/link-to}}
      {{#link-to 'dcb' tagName="li"}}<a href="#"><i class="zmdi zmdi-code"></i><span>Daily Code Byte</span></a>{{/link-to}}
      {{#link-to 'contests' tagName="li"}}<a href="#"><i class="zmdi zmdi-assignment-account"></i><span>Contests</span></a>{{/link-to}}
      {{#link-to 'competitions' tagName="li"}}<a href="#"><i class="zmdi zmdi-assignment-account"></i><span>Competitions</span></a>{{/link-to}}
      {{#link-to 'tracks.show' 2 tagName="li"}}<a href="#"><i class="zmdi zmdi-assignment-account"></i><span>Interview Prep</span></a>{{/link-to}}
      {{#link-to 'practice' tagName="li"}}<a href="#"><i class="zmdi zmdi-graduation-cap"></i><span>Practice</span></a>{{/link-to}}
      <li><a href="https://codingblocks.com/courses/" target="_blank"><i class="zmdi zmdi-case"></i><span>Classroom Program</span></a></li>
      <li><a href="https://online.codingblocks.com/courses" target="_blank"><i class="zmdi zmdi-case"></i><span>Online Courses</span></a></li>
      {{#link-to 'help' tagName="li"}}<a href="#"><i class="zmdi zmdi-graduation-cap"></i><span>Help</span></a>{{/link-to}}
      <hr>
      <li><a><span class="tos-font p-0 m-0">© Copyright 2018 - Coding Blocks Pvt. Ltd.</span></a></li>
      <li>
          <div class="row">
              <div class="col-sm-6 p-0">
                  <a href="https://codingblocks.com/tos.html" target="_blank"><span class="tos-font">Terms of Service</span></a>
              </div>
              <div class="col-sm-5 p-0">
                  <a href="https://codingblocks.com/privacypolicy.html" target="_blank"><span class="tos-font">Privacy Policy</span></a>
              </div>
          </div>
      </li>
    </ul>
  </div>
  <!-- #Menu -->
</aside>
{{#login-dialog}}{{/login-dialog}}
