<section class="content">
  <div class="container-fluid">
    <div class="row clearfix" style="margin-left: 0">
      <div class="col-md-6 block-header">
        <h2>All Problems</h2>
        <small class="text-muted">Solve these problem and prove yourself </small>
      </div>
      {{#if model.contest.duration}}
        <div class="countdown-timer-container col-md-offset-3 col-md-3">
          <div class="card">
            {{#countdown-timer
              startTime=model.currentAttempt.startTime
              duration=model.contest.timeLeft
              onComplete=(action 'redirectToContest' model)}}
            {{/countdown-timer}}
          </div>
        </div>
      {{/if}}
    </div>
    {{#if model.contest.showBanner}}
	    <div class="row">	    
		    <img class="contest-banner" src={{model.contest.image}} alt={{model.contest.name}}>
	    </div>
    {{else}}
    <div class="card hover-card">
	    <div class="row">
		    <h1 class="text-center">{{model.contest.name}}</h1>
		    <p class="text-center">{{model.contest.description}}</p>
	    </div>
    </div>
    {{/if}}
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card custom-card hover-card">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <h4 class="text-center"><strong>Statistics</strong></h4>
              <div class="card">
                <table class="align-center table table-striped">
                  <thead>
                  <tr><th>Problems</th><th>Submissions</th></tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><i class="material-icons">format_list_numbered</i></td>
                    <td><i class="material-icons">done</i></td>
                  </tr>
                  <tr>
                    <td>{{model.contest.problems.length}}</td>
                    <td>{{submissionCount}}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            {{#if model.contest.showLeaderboard}}
            <div class="col-sm-8 col-md-8 col-lg-8">
              <h4 class="text-center strong"><strong>Leaderboard</strong></h4>
              <div class="card generate-scroll-y">{{#problem-leaderboard avatar=true contestId=model.contest.id }}{{/problem-leaderboard}}
              </div>
            </div>
            {{/if}}
          </div>
          {{#if model.contest.isFinished}}
            <div class="row">
              <div class="col-12 alert alert-warning">This contest is finished. You will not be awarded any points.</div>
            </div>
          {{/if}}
        </div>
        <div class="row">
          <div class="col-sm-12 text-center" id="filter">
            <button class="btn-blue btn fil-cat btn-sm btn-filled" {{action "updateSelection" "All" selectedTag}}  value="All">All</button>
            <button class="btn fil-cat btn-sm btn-filled btn-green" {{action "updateSelection" "Solved" selectedTag}}  value="Solved">Solved</button>
            <button class="btn fil-cat btn-sm btn-filled btn-orange" {{action "updateSelection" "Unsolved" selectedTag}}  value="Unsolved">Unsolved</button>
            <button class="btn fil-cat btn-sm btn-filled btn-yellow" {{action "updateSelection" "Psolved" selectedTag}}  value="Psolved">Partially Solved</button>
            <button class="btn fil-cat btn-sm btn-filled btn-red" {{action "updateSelection" "Wrong" selectedTag}}  value="Wrong">Wrong</button>
            <br>
            {{#if model.contest.showTags}}
            {{#each model.tags as |tag|}}
              <button class="btn fil-cat btn-sm btn-filled" {{action "updateSelection" tag selectedTag}} value={{tag}}>{{tag}}</button>
            {{/each}}
            {{/if}}
          </div>
        </div>
        <div class="card section-card">
          <div class="body">
            <div class="row clearfix">
               {{#each model.contest.problems as |problem|}}
                 {{#if (is-tag-selected problem selectedTag)}}
                  {{#problem-view link='contests.contest.problem.index' showTags=model.contest.showTags problem=problem class="problemCardWrapper"}}{{/problem-view}}
                 {{/if}}
                 {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
