<section class="content">
  {{#if contest.competitionId}}
  <div class="header">
    <div class="header-left">
      <div class="heading">
        {{contest.competitionName}}
      </div>
    </div>
    <div class="header-left">
      {{#if contest.duration}}
      <div class="countdown-timer-container">
        {{#countdown-timer
        startTime=currentAttempt.startTime
        duration=attemptDuration
        noIcon=true
        onComplete=(action 'redirectToContest' model)}}
        {{/countdown-timer}}
      </div>
      {{/if}}
      <div>
        {{#link-to 'competitions.view' contest.competitionId class="btn-solid" tagName="button"}}
        Back to Competition
        {{/link-to}}
      </div>
    </div>
  </div>
  {{/if}}
  {{#if contest.level}}
  <div class="header">
    <div class="header-left">
      <div class="heading">
		<small class="text-muted">{{contest.level.description}}</small>
      </div>
    </div>
    <div class="header-left">
      {{#if contest.duration}}
      <div class="countdown-timer-container">
        {{#countdown-timer
        startTime=currentAttempt.startTime
        duration=attemptDuration
        noIcon=true
        onComplete=(action 'redirectToContest' model)}}
        {{/countdown-timer}}
      </div>
      {{/if}}

      <div>
        {{#link-to 'tracks.show' contest.meta.track-id class="btn-solid" tagName="button"}}
			Back to Track
        {{/link-to}}
      </div>
    </div>
  </div>
  {{/if}}
  <div class="container-fluid">
    {{#unless contest.competitionId}}
	{{#unless contest.level}}
    <div class="row clearfix" style="margin-left: 0">
      <div class="col-md-6 block-header">
        <h2>All Problems</h2>
        <small class="text-muted">Solve these problem and prove yourself </small>
      </div>
      {{#if contest.duration}}
      <div class="countdown-timer-container col-md-offset-3 col-md-3">
        <div class="card">
          {{#countdown-timer
          startTime=currentAttempt.startTime
          duration=attemptDuration
          onComplete=(action 'redirectToContest' model)}}
          {{/countdown-timer}}
        </div>
      </div>
      {{/if}}
    </div>
	{{/unless}}
    {{/unless}}
    {{#if contest.showBanner}}
    <div class="row">	    
      <img class="contest-banner" src={{contest.image}} alt={{contest.name}}>
    </div>
    {{else}}
    <div class="">
      <div class="row">
        <h1 class="text-center contest-title">{{contest.name}}</h1>
        <div class="contest-description-container">
          {{markdown-to-html contest.description}}
        </div>
		<div>
			{{#if contest.showTags}}
				{{#each tags as |tag|}}
					<button class="btn fil-cat btn-sm btn-filled" {{action "updateSelection" tag selectedTag}} value={{tag}}>{{tag.name}}</button>
				{{/each}}
			{{/if}}
		</div>
      </div>
    </div>
    {{/if}}
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		{{#unless contest.level}}
        <div class="card custom-card hover-card">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <h4 class="text-center"><strong>Statistics</strong></h4>
              <div class="card">
                <table class="align-center table table-striped">
                  <thead>
                    <tr><th>Problems</th><th>Submissions</th></tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><i class="material-icons">format_list_numbered</i></td>
                      <td><i class="material-icons">done</i></td>
                    </tr>
                    <tr>
                      <td>{{contest.problems.length}}</td>
                      <td>{{submissionCount}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            {{#if contest.showLeaderboard}}
            <div class="col-sm-8 col-md-8 col-lg-8">
              <a href="{{contest.id}}/leaderboard">
                <h4 class="text-center strong"><strong>Leaderboard</strong></h4>
              </a>
              <div class="card generate-scroll-y">
                {{#problem-leaderboard avatar=true contestId=contest.id}}{{/problem-leaderboard}}
              </div>
            </div>
            {{/if}}
          </div>
          {{#if contest.isFinished}}
          <div class="row">
            <div class="col-12 alert alert-warning">This contest is finished. You will not be awarded any points.</div>
          </div>
          {{/if}}
        </div>
        <div class="row">
          <div class="col-sm-12 text-center" id="filter">
            <button class="btn-blue btn fil-cat btn-sm btn-filled" {{action "updateSelection" "All" selectedTag}}  value="All">All</button>
            <button class="btn fil-cat btn-sm btn-filled btn-green" {{action "updateSelection" "Solved" selectedTag}}  value="Solved">Solved</button>
            <button class="btn fil-cat btn-sm btn-filled btn-orange" {{action "updateSelection" "Unsolved" selectedTag}}  value="Unsolved">Unsolved</button>
            <button class="btn fil-cat btn-sm btn-filled btn-yellow" {{action "updateSelection" "Psolved" selectedTag}}  value="Psolved">Partially Solved</button>
            <button class="btn fil-cat btn-sm btn-filled btn-red" {{action "updateSelection" "Wrong" selectedTag}}  value="Wrong">Wrong</button>
            <br>
          </div>
        </div>
		{{/unless}}
        {{#if contest.attachments}}
		{{tutorials-container contest=contest attachments=contest.attachments}}
        {{/if}}
        {{#if contest.quizzes}}
        <div class="">
          <div class="body">
            <div class="row clearfix">
              <h3>Quizzes</h3>
            </div>
            <div class="row clearfix">
              {{#each contest.quizzes as |quiz|}}
              <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                {{#link-to 'contests.contest.quiz' quiz.id}}
                <div class="thumbnail card problemCard hover-card">
                  <div class="problem-image-wrapper" style="padding: 1rem">
                    <div class="problem-img-overlay"></div>
                    <img src="https://u.teknik.io/BnGDo.png" />
                  </div>
                  <div class="caption">
                    <div class="problem-name-wrapper">
                      <h3>{{quiz.title}}</h3>
                    </div>
                    <hr/>
                    <p class="text-center"><span
                       style="color:#FF5483;"
                       class="big-digit">{{quiz.questionCount}}</span>
                      <span style="vertical-align: baseline" class="big-alpha">Questions</span>
                    </p>
                  </div>
                </div>
                {{/link-to}}
              </div>
              {{/each}}
            </div>
          </div>
        </div>
        {{/if}}
		{{#if contest.problems}}
        <div class="">
          <div class="body">
            <div class="row clearfix">
              <h3>Programming Questions</h3>
            </div>
            <div class="row clearfix">
              {{#each contest.problems as |problem|}}
              {{#if (is-tag-selected problem selectedTag)}}
              {{#problem-view link='contests.contest.problem.index' showTags=contest.showTags problem=problem class="problemCardWrapper"}}{{/problem-view}}
              {{/if}}
              {{/each}}
            </div>
          </div>
        </div>
		{{/if}}
      </div>
    </div>
  </div>
</section>
