<div class="clearfix">
  <h4>{{problem.name}}</h4>
  <p>{{markdown-to-html problem.content.description}}</p>
  <hr />
  <p class="small">
    {{#if problem.content.input-format}}
      <div id="inputFormat">
        <span><b>Input Format:</b></span>
        {{markdown-to-html problem.content.input-format}}
      </div>
    {{/if}}
    {{#if problem.content.constraints}}
      <div id="constraint">
        <span><b>Constraints:</b></span>
        <span>{{problem.content.constraints}}</span>
      </div>
    {{/if}}
    {{#if problem.content.output-format}}
      <div id="outputFormat">
        <span><b>Output Format:</b></span>
        {{markdown-to-html problem.content.output-format}}
      </div>
    {{/if}}
  </p>

  <hr />

  <p class="small">
    {{#if problem.content.sample-input}}
      <div id="sampleInput">
        <span><b>Sample Input:</b></span>
        <pre>{{problem.content.sample-input}}</pre>
      </div>
    {{/if}}
    {{#if problem.content.sample-output}}
      <div id="sampleOutput">
        <span><b>Sample Output:</b></span>
        <pre>{{problem.content.sample-output}}</pre>
      </div>
    {{/if}}
    {{#if problem.content.explanation}}
      <div id="sampleOutput">
        <span><b>Explanation:</b></span>
        <span>{{problem.content.explanation}}</span>
      </div>
    {{/if}}
  </p>

  <div class="clearfix form-group" style="background:#f5f5f5;">
    <div class="clearfix p5-10">
      Language:
      <select id="langSelect" {{action "langChange" on="change"}} >
        {{#each-in lang_codes as |langId langName|}}
          <option value={{langId}} >{{langName.name}}</option>
        {{/each-in}}
      </select>
    </div>
    {{#ace-editor}}{{/ace-editor}}
    <div class="clearfix p5-10 small">
       <a href="javascript:;" class="fntblue pull-left"><i class="fa fa-caret-down" {{action "customInput" problem}}></i>
         Provide custom input</a>
    </div>
    <div class="clearfix p5-10"><textarea class="col-md-12" id="custom-input"></textarea></div>
    <div class="p5-10 pull-left">
      <a id="code-run" href="#" class="btn btn-primary" {{action "run" problem}}>Run</a>
    </div>
    <div class="clearfix p5-10 pull-right">
      <div id="code-submit-loader" class="loader"></div>
      {{#if session.isAuthenticated}}
        <a href="code-reset" class="btn btn-danger" {{action "reset" problem}}>Reset</a>
        <a id="code-submit" href="#" class="btn btn-primary" {{action "submit" problem}}>Submit</a>
      {{else}}
        <strong>Please login to submit the solution.</strong>
      {{/if}}
      <!--<a href="practice_test_submit.html" class="btn btn-secondary ml20" style="border-color:#27ae61;">Submit</a>-->
    </div>
  </div>

  <div class="form-group p5-10" id="run-output" >
    {{#if (eq result "compile_error")}}
      <p>Compilation Error:</p>
      <p><pre>{{output}}</pre></p>
    {{else if (eq result 'output')}}
      <p>Output:</p>
      <p><pre>{{base64-decode output}}</pre></p>
    {{else}}
      <ul class="collection">
        {{#each output as |testcase index|}}
          <li class="collection-item"><b>Testcase #{{sum index 1}} </b>
            {{#if (eq testcase.result "timelimit")}}
              Time Limit Exceeded
            {{else if (eq testcase.result "correct")}}
                  Passed
            {{else}}
              {{testcase.result}}
            {{/if}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</div>
