<div class="clearfix">
  <h4>{{problem.name}}</h4>
  <p>{{markdown-to-html problem.contentObj.description}}</p>
  <hr />
  <p class="small">
    {{#if problem.contentObj.inputFormat}}
      <div id="inputFormat">
        <span><b>Input Format:</b></span>
        {{markdown-to-html problem.contentObj.inputFormat}}
      </div>
    {{/if}}
    {{#if problem.contentObj.constraint}}
      <div id="constraint">
        <span><b>Constraints:</b></span>
        <span>{{problem.contentObj.constraint}}</span>
      </div>
    {{/if}}
    {{#if problem.contentObj.outputFormat}}
      <div id="outputFormat">
        <span><b>Output Format:</b></span>
        {{markdown-to-html problem.contentObj.outputFormat}}
      </div>
    {{/if}}
  </p>

  <hr />

  <p class="small">
    {{#if problem.contentObj.sampleInput}}
      <div id="sampleInput">
        <span><b>Sample Input:</b></span>
        <pre>{{problem.contentObj.sampleInput}}</pre>
      </div>
    {{/if}}
    {{#if problem.contentObj.sampleOutput}}
      <div id="sampleOutput">
        <span><b>Sample Output:</b></span>
        <pre>{{problem.contentObj.sampleOutput}}</pre>
      </div>
    {{/if}}
    {{#if problem.contentObj.explanation}}
      <div id="sampleOutput">
        <span><b>Explanation:</b></span>
        <span>{{problem.contentObj.explanation}}</span>
      </div>
    {{/if}}
  </p>

  <div class="form-group" style="background:#f5f5f5;">
    {{#ace-editor}}{{/ace-editor}}
    <div class="clearfix p5-10 small"><a href="#" class="fntblue pull-left"><i class="fa fa-caret-down"></i> Provide custom input</a><a href="#" class="pull-right fntblue"><i class="fa fa-info-circle"></i> Press Ctrl+Space for autocomplete suggestions </a></div>
    <div class="clearfix p5-10"><a href="#" class="btn btn-primary">Compile Test</a><a href="practice_test_submit.html" class="btn btn-secondary ml20" style="border-color:#27ae61;">Submit</a></div>
  </div>
  <p>&nbsp;</p>
</div>
<!--
<div class="col s12">
  <div class="row">
  </div>
  <div class="row">
    <div class="left">Editor</div>
    <div class="right">
      <span >Language:</span>
      <a id="editor-lang" class="dropdown-button btn red lighten-1" href="#" data-activates='lang-dropdown'>c</a>
      <ul id='lang-dropdown' class='dropdown-content'>
        {{#each-in lang_codes as |langId langName|}}
          <li><a {{action "langChange" langId}} href="#!">{{langName.name}}</a></li>
        {{/each-in}}
      </ul>
    </div>
  </div>
  <div class="row">
    {{#ace-editor}}{{/ace-editor}}
  </div>
  <div class="row right">
    <div class="col s3">
      {{#circular-loader id="code-submit-loader"}}{{/circular-loader}}
    </div>
    <a id="code-submit" class="col s9 btn red lighten-1 waves-effect" {{action "submit" problem}}>
      Submit
      <i class="material-icons left">send</i>
    </a>
  </div>
  <div class="row">
    <div class="card col s12">
      <div class="card-content">
        <span class="card-title">Output</span>
        {{#if (eq result "compile_error")}}
          <p>Compilation Error:</p>
          <p><pre>{{output}}</pre></p>
        {{else}}
          <ul class="collection">
            {{#each output as |testcase index|}}
              <li class="collection-item"><b>Testcase #{{sum index 1}} </b>
                {{#if (eq testcase.result "timelimit")}}
                  Time Limit Exceeded
                {{else}}
                  {{testcase.result}}
                {{/if}}
              </li>
            {{/each}}
          </ul>
        {{/if}}
      </div>
    </div>
  </div>
</div> -->
