<section class="content home">
  <div class="container-fluid">
    <div class="block-header">
      <h2>Home</h2>
    </div>
  <button class = "btn-danger back-button" {{action "back"}}>Back to problem</button>
  <br>
    <div class="row clearfix top-report">
      <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
        <div class="card">
          <div class="panel-body clearfix">
            <h4>Submission #{{model.id}}</h4>
            {{#ace-editor readOnly=true showDefaultSnippet=false}}{{base64-decode model.source}}{{/ace-editor}}
            <br/>
            <br/>
            <div class="card ">
              <div class="body">
                <div class="row">
                <div class="card-title col-lg-1"><b>Result:</b></div>
                <div class="col-lg-11">
              <p>
                {{#if (eq model.result -1)}}
                    <span class="isa_warning"><i class="material-icons">warning</i>Compilation Error</span>
                {{else if  (eq model.result -3)}}
                    <span class="isa_warning"><i class="material-icons">access_time</i>Time Limit Exceeded</span>
                {{else if (eq model.score 100)}}
                    <span class="isa_success"><i class="material-icons">done</i>Correct Answer</span>
                {{else }}
                    <span class="isa_error"><i class="material-icons">error</i>Wrong Answer</span>
                {{/if}}
                </p>
                </div>
                </div>
                <hr />
				{{#submission-explanation id=model.id explanation=model.explanation}} {{/submission-explanation}}
				<hr />
                {{!----}}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Test Case Number</th>
                      <th>Result</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each model.judgeResult.data.testcases as |testcase index|}}
                    <tr>
                      <td> #{{sum index 1}}</td>
                      <td>
                        {{#if (eq testcase.result "timelimit")}}
                            Time Limit Exceeded
                        {{else if (eq testcase.result "correct")}}
                            Passed
                        {{else}}
                            {{testcase.result}}
                        {{/if}}
                      </td>
                    </tr>
                    {{/each}}
                  </tbody>
                </table>
                {{!----}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
