{{#if explanation}}
<div class="{{alertClass}}">
	{{#if (eq explanation "Perfect")}}
		Congratulations, you passed every test case! Surely Hacker Blocks has harder
		problems for you to solve!
	{{else if (eq explanation "FailedTestcase")}}
		Dang! You couldn't score a perfect 100 because you <strong>failed one or
		more testcases.</strong> This means that your program didn't account for
		all input cases (did you account for negative numbers, for example?).
	{{else if (eq explanation "TimeLimitExceeded")}}
		Dang! Your program was too slow to compute the answer to one or more
		testcases. Think - is there a more efficient way to arrive at the
		solution than brute force?
	{{else if (eq explanation "CompilationError")}}
		Your code failed to compile. Check your program carefully for mistakes
		(missing semicolons, for example).
	{{else if (eq explanation  "ContestOver")}}
		<strong>Note: </strong> You were not awarded any points as this contest
		has ended. Find more contests you can participate in
		<a href="http://hack.codingblocks.com/contests">here</a>!
	{{else if (eq explanation  "TestcaseUnlocked")}}
		<strong>Note: </strong>You were not awarded any points for this solution
		because you have unlocked the testcases to this problem.
	{{else if (eq explanation  "EditorialUnlocked")}}
		<strong>Note: </strong>You were not awarded any points for this solution
		because you have unlocked the editorial to this problem.
	{{/if}}
</div>

<div class="alert alert-info">
	Our problems are designed, and tested by professionals that strive to
	ensure every testcase is perfect. However, if you believe this score to
	be incorrect, please let us know by clicking
	<a href="mailto:prajjwal@codingblocks.com?subject=Incorrect Scoring&body=https://hack.codingblocks.com/submission/{{id}}/">here</a>.
</div>
{{/if}}
