<section class="content profile-page">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12 p-l-0 p-r-0">
                <section class="boxs-simple">
                    <div class="profile-header">
                        <div class="profile_info profile-align">
                            <div class="profile-image profile-align">
                                {{#if user.photo}}
                                <img src="{{user.photo}}" width="100%" class="img-responsive" alt=""> {{!--
                                <img src="https://i0.wp.com/forums.opera.com/themes/opera/design/images/avatars/default.png?ssl=1" class="img-responsive"
                                    alt="">--}} {{else}}
                                <img src="https://i0.wp.com/forums.opera.com/themes/opera/design/images/avatars/default.png?ssl=1" class="img-responsive"
                                    alt=""> {{/if}}
                            </div>
                            <h4><strong>{{user.name}}</strong></h4>
                            <!--<span class="text-muted col-white">Java Specialist</span>-->
                        </div>
                    </div>
                    <div class="profile-sub-header">
                        <h3 class="text-center">Course Enrolled</h3>
                        {{#if user.courseDescription}}
                        <h5 class="text-center">{{user.courseDescription}}</h5>
                        {{else}}
                        {{#link-to "courses"}}
                             <p class="text-center">Please enroll to a course</p>
                        {{/link-to}}
                        {{/if}}
                    </div>
                    {{#if (eq-prim session.data.authenticated.user_id model.user.id)}}
                        <table style="margin-left:auto;margin-right:auto;">
                            <tr>
                                <td>
                                    <strong>Batch Code:</strong>
                                </td>
                                <td>
                                    {{ input size="50" placeholder="Batch Code" value=user.bCode }}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-default"{{action "submitBatchCode" user}}>Submit Batch Code</button>
                                </td>
                            </tr>
                        </table>
                    {{/if}}
                </section>
            </div>
        </div>
        <div class="row clearfix">


            <h3 class="text-center">Problems Solved</h3>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-md-offset-4">
                <div>
                        {{#each contests as |contest|}}
                        <center>{{contest.name}}</center>
                        <table class="table text-center table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Problem
                                </th>
                                <th class="text-center">
                                    Score
                                </th>
                                <th class="text-center">
                                    Language
                                </th>
                            </tr>
                        </thead>
                            {{#each submission as |attempt|}}
                              {{#if (eq contest.id attempt.contest.id) }}
                                 <tr>
                                    <td class="text-center">
                                       {{attempt.problem.name}}
                                    </td>
                                    <td class="text-center">
                                       {{attempt.score}}
                                    </td>
                                    <td class="text-center">
                                       {{attempt.language}}
                                    </td>
                                </tr>
                             {{/if}}
                           {{/each}}

                        </table>
                        <br/>
                        {{/each}}

                </div>
            </div>
        </div>
    </div>
</section>