<section class="content profile-page">
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-md-12 p-l-0 p-r-0">
                <section class="boxs-simple">
                    <div class="profile-header">
                        <div class="profile_info profile-align">
                            <div class="profile-image profile-align">
                                {{#if user.photo}}
                                    <img src="{{user.photo}}" width = "100%" class="img-responsive" alt="">
                                  {{!--<img src="https://i0.wp.com/forums.opera.com/themes/opera/design/images/avatars/default.png?ssl=1" class="img-responsive" alt="">--}}
                                {{else}}
                                    <img src="https://i0.wp.com/forums.opera.com/themes/opera/design/images/avatars/default.png?ssl=1" class="img-responsive" alt="">
                                {{/if}}
                            </div>
                            <h4><strong>{{user.name}}</strong></h4>
                            <!--<span class="text-muted col-white">Java Specialist</span>-->
                        </div>
                    </div>
                    <div class="profile-sub-header">

                    </div>
                </section>
            </div>
        </div>
        <div class="row clearfix">
            <h3 class = "text-center">Problems Solved</h3>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-md-offset-4">
                <div>
                    <table class="table text-center submission-table">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    Problem
                                </th>
                                <th class="text-center">
                                    Score
                                </th>
                                <th class="text-center">
                                    Language
                                </th>

                            </tr>
                        </thead>
                        {{#each submission as |attempt|}}
                        <tr>
                            <td class="text-center">
                                {{attempt.problemName}}
                            </td>
                            <td class="text-center">
                                {{attempt.score}}
                            </td>
                            <td class="text-center">
                                {{attempt.language}}
                            </td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>