<div class="wrapper">
  <header>
    <div class="navbar-fixed">
      <nav class="z-depth-3 primary-color">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo center">Hacker Blocks</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            {{#link-to 'contests' tagName="li"}} <a>Contests</a> {{/link-to}}
            {{#link-to 'practice' tagName="li"}} <a>Practice</a> {{/link-to}}
          </ul>
          <ul class="right">
            {{#if session.isAuthenticated}}
              Logged in as <b>{{model.name}}</b> <a {{action 'invalidateSession'}} class="btn waves-effect waves-light">Logout</a>
            {{else}}
              <a {{action 'openLoginDialog'}} class="btn waves-effect waves-light">Login / Sign Up</a>
            {{/if}}
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <main>
    {{#bread-crumb}}{{/bread-crumb}}
    <div class="divider"></div>
    <div class="container grey lighten-5">
      <div class="row">
        <div class="col s9">
          {{outlet}}
        </div>
        <div class="col s3">
          {{#share-buttons link=link}}{{/share-buttons}}
          <div class="fb-page"
               data-href="https://www.facebook.com/codingblocksindia"
               data-tabs="timeline,events,messages"
               data-width="300"
               data-height="500"
               data-small-header="false"
               data-adapt-container-width="true"
               data-hide-cover="false"
               data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/codingblocksindia"
                        class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/codingblocksindia">Coding Blocks</a>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="push"></div>
</div>
{{#foot-er}}{{/foot-er}}
{{#if session.isAuthenticated}}
{{else}}
  {{#login-dialog}}{{/login-dialog}}
{{/if}}
