<div id="wrapper-container" class="wrapper-container">
  <div class="content-pusher ">
    <header id="masthead" class="site-header bg-custom-sticky sticky-header header_overlay header_v1 affix-top">
      <div id="toolbar" class="toolbar">
        <div class="container">
          <div class="row">
            <div class="col-sm-12">
              <aside id="text-11" class="widget widget_text">
                <div class="textwidget">
                  <div class="thim-have-any-question">
                    <div class="mobile"><i class="fa fa-phone"></i><a href="tel:00123456789" class="value"> 1800 274 4504</a></div>
                    <div class="email"><i class="fa fa-envelope"></i><a href="mailto:info@codingblocks.com">info@codingblocks.com</a></div>
                  </div>
                </div>
              </aside>
              <aside id="login-popup-5" class="widget widget_login-popup">
                <div class="thim-widget-login-popup thim-widget-login-popup-base">
                  {{#if session.isAuthenticated}}
                    {{log model}}
                    <div class="thim-link-login">Logged in as <b>{{model.name}}</b>
                      <a {{action 'invalidateSession'}} href="javascript:;" class="login"><strong>Logout</strong></a>
                    </div>
                  {{else}}
                    <div class="thim-link-login thim-login-popup"> <a class="login" href="javascript:;">Login</a></div>
                    {{#login-dialog}}{{/login-dialog}}
                  {{/if}}
                </div>
              </aside>
              <aside id="social-3" class="widget widget_social">
                <div class="thim-widget-social thim-widget-social-base">
                  <div class="no-border thim-social">
                    <ul class="social_link">
                      <li><a class="facebook hasTooltip" href="http://fb.me/codingblocksindia"><i class="fa fa-facebook"></i></a></li>
                      <li><a class="twitter hasTooltip" href="http://twitter.com/codingblocksIN"><i class="fa fa-twitter"></i></a></li>
                      <li><a class="google-plus hasTooltip" href="https://www.youtube.com/channel/UCICWIYEx2mo4wYZzLwJ7wVw"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                  </div>
                </div>
              </aside>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="navigation col-sm-12">
            <div class="tm-table">
              <div class="width-logo table-cell sm-logo">
                {{#link-to 'contests' rel="home" class="no-sticky-logo"}}
                  <img src="/images/logo.png" alt="Daily Bytes" width="157">
                {{/link-to}}
                {{#link-to 'contests' rel="home" class="sticky-logo"}}
                  <img src="/images/logo-sticky.png" alt="Daily Bytes" width="157">
                {{/link-to}}
              </div>
              <nav class="width-navigation table-cell table-right">
                <ul class="nav navbar-nav menu-main-menu">
                  <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard current-menu-item">
                    {{#link-to 'contests'}}<span data-hover="About">Contests</span>{{/link-to}}
                  </li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard">
                    {{#link-to 'practice'}}<span data-hover="Daily Bytes">Daily Bytes</span>{{/link-to}}
                  </li>
                  <!-- <li class="menu-item menu-item-type-custom menu-item-object-custom drop_to_right standard"><a href="learning.html"><span data-hover="Learn">Learn</span></a></li> -->
                  <li class="menu-item menu-item-type-custom menu-item-object-custom drop_to_right standard"><a href="http://codingblocks.com" target="_blank"><span data-hover="Coding Blocks">Coding Blocks</span></a></li>
                  <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard"><a href="http://www.codingblocks.com/contactus/" target="_blank"><span data-hover="Contact">Contact</span></a></li>
                </ul>
              </nav>
              <div class="menu-mobile-effect navbar-toggle" data-effect="mobile-effect"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <nav class="mobile-menu-container mobile-effect">
      <ul class="nav navbar-nav">
        <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard">{{#link-to 'contests'}}<span data-hover="About">Contests</span>{{/link-to}}</li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard">{{#link-to 'practice'}}<span data-hover="Daily Bytes">Daily Bytes</span>{{/link-to}}</li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard"><a href="http://codingblocks.com" target="_blank"><span data-hover="Coding Blocks">Coding Blocks</span></a></li>
        <li class="menu-item menu-item-type-post_type menu-item-object-page drop_to_right standard"><a href="#"><span data-hover="Contact">Contact</span></a></li>
      </ul>
    </nav>
    {{outlet}}
  </div>
  {{#foot-er}}{{/foot-er}}
</div>
