<section class="content">
  <div class="header">
    <div class="header-left">
      <div class="heading">
        {{model.quiz.title}}
		{{q}}

        {{model.currentAttempt.startTime}}
      </div>
    </div>
    <div class="header-right">
      {{#if model.quiz.contest.duration}}
        <div class="countdown-timer-container">
          {{#countdown-timer
            startTime=model.currentAttempt.startTime
            duration=attemptDuration
            noIcon=true
            onComplete=(action 'submitQuiz')}}
          {{/countdown-timer}}
        </div>
      {{/if}}
      {{#link-to 'contests.contest' model.quiz.contest.id class="btn btn-red"}}
        Back to Contest
      {{/link-to}}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row"></div>
    <div class="clearfix" style="margin-left: 0; padding-left: 3rem;">
      {{markdown-to-html model.quiz.contest.description}}
    </div>
  </div>

  <section class="row clearfix">
	  <div class="col-md-6">
		  {{question-container question=currentQuestion quizState=quizState lastUpdated=lastQuestionChange updateQuizState=(action 'updateQuizState') attempt=model.currentQuizAttempt}}
		  <div class="navigation">
			  {{#unless (eq q 1)}}
			  <div>
				  <a href="#" class="btn btn-filled btn-sm" {{action 'previousQuestion'}}>Previous</a>
			  </div>
			  {{/unless}}

			  <div>
				  <a href="#" class="btn btn-filled btn-sm" {{action 'markForReview'}}>Review Later</a>
			  </div>

			  {{#unless lastQuestion}}
			  <div>
				  <a href="#" class="btn btn-filled btn-sm" {{action 'nextQuestion'}}>Next</a>
			  </div>
			  {{/unless}}
		  </div>
		  <div>
			  <button class="btn btn-filled" {{action 'submitQuiz'}}>Submit</button>
		  </div>
	  </div>
	  <div class="col-md-6">
		 {{c-review-pad questionIds=questionIds quizState=quizState lastUpdated=answerTimestamp onReview=(action 'goToQuestion')}}
	  </div>
  </section>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>

<style>
.navigation {
	text-align: center;
	display: flex;
	justify-content: space-between;
}
html {
  scroll-behavior: smooth;
}

.hints {
  margin: 20px;
}

.hint-box {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  display: inline-block;
}

.review {
  width: 270px;
  background-color: #f7f7f7;
}
</style>
