<section class="content">
  <div class="header">
    <div class="header-left">
      <div class="heading">
        {{model.quiz.title}}
		{{q}}

        {{model.currentAttempt.startTime}}
      </div>
    </div>
    <div class="header-right">
      {{#if model.quiz.contest.duration}}
        <div class="countdown-timer-container">
          {{#countdown-timer
            startTime=model.currentAttempt.startTime
            duration=attemptDuration
            noIcon=true
            onComplete=(action 'submitQuiz')}}
          {{/countdown-timer}}
        </div>
      {{/if}}
	  <div class="col-md-6 col-md-offset-3">
		  <button class="btn btn-filled btn-block" data-toggle="modal" data-target="#submissionConfirmation">Submit Quiz</button>
	  </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row"></div>
    <div class="clearfix" style="margin-left: 0; padding-left: 3rem;">
      {{markdown-to-html model.quiz.contest.description}}
    </div>
  </div>

  <section class="row clearfix">
	  <div class="col-md-6 question">
		  {{question-container question=currentQuestion quizState=quizState lastUpdated=lastQuestionChange updateQuizState=(action 'updateQuizState') attempt=model.currentQuizAttempt}}
		  <div class="navigation row">
			  <div class="col-md-4">
				  <button href="#" class="btn btn-filled btn-sm btn-block" disabled={{firstQuestion}} {{action 'previousQuestion'}}>&lt; Previous</button>
			  </div>

			  <div class="col-md-4">
				  <a href="#" class="btn btn-filled btn-sm btn-block" {{action 'markForReview'}}>Review Later</a>
			  </div>

			  <div class="col-md-4">
				  <a href="#" class="btn btn-filled btn-sm btn-block" disabled={{lastQuestion}} {{action 'nextQuestion'}}>Next &gt;</a>
			  </div>
		  </div>
		  {{#link-to 'contests.contest' model.quiz.contest.id class="col-md-6 col-md-offset-3 btn btn-red btn-block"}}
			  Back To Contest
		  {{/link-to}}
	  </div>
	  <div class="col-md-3 col-md-offset-1">
		  {{c-review-pad questionIds=questionIds quizState=quizState lastUpdated=answerTimestamp onReview=(action 'goToQuestion')}}
		  {{#link-to 'contests.contest.quiz-attempts' model.quiz.contest.id model.quiz.id class="btn btn-red"}}Previous Attempts{{/link-to}}
	  </div>
  </section>

  <div id="submissionConfirmation" class="modal fade" data-backdrop="false" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
		  <div class="modal-content">
			  <div class="modal-header text-center">
				  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				  <h4 class="modal-title">Submit quiz for grading?</h4>
				  <hr />
			  </div>
			  <div class="modal-body text-center">
				  <h5 class="red">This will irrevocably submit the quiz for grading.</h5>
				  <p class="text-muted">You might not be able to attempt it again.</p>
				  <button type="button" class="btn btn-raised btn-success" {{action 'submitQuiz'}}>Yes, I'm sure.</button>
				  <button type="button" class="btn btn-raised label-danger btn-lg" data-dismiss="modal">No, take me back.</button>
			  </div>
		  </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
  </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>

<style>
.question {
	margin-left: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

.hints {
  margin: 20px;
}

.hint-box {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  display: inline-block;
}

.review {
  width: 270px;
  background-color: #f7f7f7;
}
</style>
