<section class="content">
  <div class="header">
    <div class="header-left">
      <div class="heading">
        {{model.quiz.title}}
		{{q}}

        {{model.currentAttempt.startTime}}
      </div>
    </div>
    <div class="header-right">
      {{#if model.quiz.contest.duration}}
        <div class="countdown-timer-container">
          {{#countdown-timer
            startTime=model.currentAttempt.startTime
            duration=attemptDuration
            noIcon=true
            onComplete=(action 'submitQuiz')}}
          {{/countdown-timer}}
        </div>
      {{/if}}
      {{#link-to 'contests.contest' model.quiz.contest.id class="btn btn-red"}}
        Back to Contest
      {{/link-to}}
    </div>
  </div>
  <div class="container-fluid">
    <div class="row"></div>
    <div class="clearfix" style="margin-left: 0; padding-left: 3rem;">
      {{markdown-to-html model.quiz.contest.description}}
    </div>
  </div>

  <section class="row clearfix">
	  <div class="col-md-6 question">
		  {{question-container question=currentQuestion quizState=quizState lastUpdated=lastQuestionChange updateQuizState=(action 'updateQuizState') attempt=model.currentQuizAttempt}}
		  <div class="navigation row">
			  <div class="col-md-4">
				  <button href="#" class="btn btn-filled btn-sm btn-block" disabled={{firstQuestion}} {{action 'previousQuestion'}}>&lt; Previous</button>
			  </div>

			  <div class="col-md-4">
				  <a href="#" class="btn btn-filled btn-sm btn-block" {{action 'markForReview'}}>Review Later</a>
			  </div>

			  <div class="col-md-4">
				  <a href="#" class="btn btn-filled btn-sm btn-block" disabled={{lastQuestion}} {{action 'nextQuestion'}}>Next &gt;</a>
			  </div>

			  <div class="col-md-6 col-md-offset-3">
				  <button class="btn btn-filled btn-block" {{action 'submitQuiz'}}>Submit</button>
			  </div>
		  </div>
	  </div>
	  <div class="col-md-3 col-md-offset-1">
		 {{c-review-pad questionIds=questionIds quizState=quizState lastUpdated=answerTimestamp onReview=(action 'goToQuestion')}}
	  </div>
  </section>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>

<style>
.question {
	margin-left: 2.5rem;
}

html {
  scroll-behavior: smooth;
}

.hints {
  margin: 20px;
}

.hint-box {
  height: 15px;
  width: 15px;
  margin-right: 10px;
  display: inline-block;
}

.review {
  width: 270px;
  background-color: #f7f7f7;
}
</style>
