              <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
                <div class="card">
                  <div class="clockframe" scrolling="no" frameborder="0">

                    <div class="user-heading alt clock-row terques-bg">
                      <h1>{{month}} {{date}}</h1>
                      <p class="text-left">{{year}} {{day}}</p>
                      <p class="text-left">{{hours}}{{minutes}}{{seconds}}</p>
                    </div>
                    <ul id="clock">
                      <li id="sec"></li>
                      <li id="hour"></li>
                      <li id="min"></li>
                    </ul>
                    <div class="body">
                      <p style="text-align:center;">This code byte is available till midnight only</p>
                    </div>
                  </div>
                </div>
              </div>
