<div class="card col s12">
  <div class="card-content">
    <span class="card-title"><h4>Submissions</h4></span>
    <div class="divider"></div>
    {{#if session.isAuthenticated}}
      <table class="table-hover">
        <thead>
        <tr>
          <th data-field="id">#</th>
          <th data-field="time">Submit time</th>
          <th data-field="score">Score</th>
          <th data-field="language">Language</th>
          <th data-field="result">Result</th>
        </tr>
        </thead>
        <tbody>
        {{#each submissions as |submission index|}}
          {{#link-to "submission" submission.id tagName="tr" class="pointer"}}
            <td>{{sum index 1}}</td>
            <td>{{ago-time submission.submitAt}}</td>
            <td>{{submission.score}}</td>
            <td>{{getlang submission.language}}</td>
            {{#if (eq submission.result -1)}}
              <td>
                <div class="isa_warning"><i class="material-icons">warning</i>Compilation Error</div>
              </td>
            {{else if (eq submission.score 100)}}
              <td>
                <div class="isa_success"><i class="material-icons">done</i>Correct Answer</div>
              </td>
            {{else }}
              <td>
                <div class="isa_error"><i class="material-icons">error</i>Wrong Answer</div>
              </td>
            {{/if}}
          {{/link-to}}
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <strong>Please Log In to see your submissions.</strong>
    {{/if}}
  </div>
</div>