<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="thumbnail card problemCard">
    <div class="problem-image-wrapper">
      <img src={{problem.image}} width="100%" />
    </div>
    {{#if dailycb}}
      <div class="posrel">
        <span class="card-date">{{dailycb.UTCDay}} {{dailycb.UTCMonth}}</span>
      </div>
    {{/if}}
    <div class="caption">
      <div class="problem-name-wrapper">
        <h3>{{problem.name}}</h3>
      </div>
      {{#if (eq i 0)}}<span class="label label-info">Today's CodeByte</span>{{/if}}
      <div id="tags">
        {{#each problem.tags as |tag|}}
          <img src="/images/tag.png" alt="" />
          <font size="1">{{tag}}</font>{{/each}}
      </div>
      <hr />
      {{#if dailycb}}
        <div class="pt-detail row">
          <div class="pt-category pt-txt col-md-6 col-sm-6 col-xs-6">
            <a class="icon-dailycb" href="#">
              <span class="center-block">Points</span>
              <i class="material-icons">grade</i>
              <span class="center-block">100</span>
            </a>
          </div>
          <div class="pt-category  pt-txt col-md-6 col-sm-6 col-xs-6">
            <a class="icon-dailycb" href="#">
              <span class="center-block">Time</span>
              <i class="material-icons">access_time</i>
              <span class="center-block">24 Hours</span>
            </a>
          </div>
        </div>
        <div class="pt-detail row m-t-20">
          <div class="pt-category pt-txt col-md-6 col-sm-6 col-xs-6">
            <a class="icon-dailycb" href="#">
              <span class="center-block">Max</span>
              <i class="material-icons">trending_up</i>
              <span class="center-block">{{dailycb.maxscore}}</span>
            </a>
          </div>
          <div class="pt-category  pt-txt col-md-6 col-sm-6 col-xs-6">
            <a  class="icon-dailycb" href="#">
              <span class="center-block">Total</span>
              <i class="material-icons">group</i>
              <span class="center-block">{{dailycb.count}}</span>
            </a>
          </div>
        </div>
      {{else}}
        <p class="smallcircle"><span class="circlepoint">100</span><span class="lblcircle">Points</span></p>
      {{/if}}
      {{#link-to link problem.id class="btn btn-raised g-bg-blush2 waves-effect btn-sm" role="button"}}
        {{#if archived}}Leaderboard{{else}}Attempt{{/if}}
      {{/link-to}}
    </div>
  </div>
</div>
