<div class="col-xs-12 col-sm-6 col-md-3" style="margin-bottom: 2rem">
  {{#link-to link problem.id}}
    <div class="img-card card track pointer">
      <div class="img-container">
        <img src={{problem.image}} width="100%"/>
      </div>
      {{#if dailycb}}
        <div class="posrel">
          <span class="card-date">{{dailycb.UTCDay}} {{dailycb.UTCMonth}}</span>
        </div>
      {{/if}}
      <div class="body bold">
		  <div>{{problem.name}}
          <span class="problem-result">
            {{#if (eq submissionResult 1)}}
              <i class="material-icons solved" title="Successfully Solved">done</i>
            {{/if}}
            {{#if (eq submissionResult 0)}}
              <i class="material-icons partially-solved" title="Partially Correct">done</i>
            {{/if}}
            {{#if (eq submissionResult -1)}}
              <i class="material-icons wrong" title="Wrong">clear</i>
            {{/if}}
          </span>
		  </div>
        {{#if showTags}} 
        <div id="tags">
          {{#each problem.tags as |tag|}}
            <span class="label label-danger chip">
          <font size="1">{{tag.name}}</font>
          </span>{{/each}}
        </div>
        {{/if}}
        <hr/>
        {{#if dailycb}}
          <div class="pt-detail row">
            <div class="pt-category pt-txt col-md-6 col-sm-6 col-xs-6">
              <a class="icon-dailycb" href="#">
                <span class="center-block big-alpha">Points</span>
                <span style="color:#FF5483;">
                <i class="material-icons">grade</i>
                <span class="center-block">100</span>
                </span>
              </a>
            </div>
            <div class="pt-category  pt-txt col-md-6 col-sm-6 col-xs-6">
              <a class="icon-dailycb" href="#">
                <span class="center-block big-alpha">Time</span>
                <span style="color: #02B3E4;">
                <i class="material-icons">access_time</i>
                <span class="center-block">24 Hours</span>
                </span>
              </a>
            </div>
          </div>
        {{else}}
			<div class="row footer">
				<div class="col-xs-4">
					<h4 class="blue m-0">100</h4>
					Points
				</div>
			</div>
        {{/if}}
      </div>
    </div>
  {{/link-to}}
</div>
