<div class="event-archive-happening active">
  <div id="event-2953" class="item-event feature-item post-2953 tp_event type-tp_event status-tp-event-happenning has-post-thumbnail hentry">
    <div class="event-wrapper">
      <div class="time-from">
        {{#if isWeekly}}
          <div class="date">{{problem.UTCDay}}</div>
          <div class="month">{{problem.UTCMonth}}</div>
        {{else}}
          <div class="date">{{get-difficulty problem.difficulty}}</div>
          <div class="month">Difficulty</div>
        {{/if}}
      </div>
      <div class="top-heading">
        <h4 class="title">{{#link-to link problem.id}}{{problem.name}}{{/link-to}}</h4>
        <div class="meta">
          <!-- <div class="time"> <i class="fa fa-clock-o"></i> 12:00 am - 11:59 pm</div> -->
          <div class="location"> <span class="fa fa-check"></span>{{problem.submitCount}} submissions</div>
          <div> <span class="fa fa-bar-chart"></span>100 Points</div>
        </div>
      </div>
      <!--
      <div class="description">
        <div class="thim-excerpt">{{problem.description}}</div>
      </div> -->
      <div class="view-detail"> {{#link-to link problem.id}}Solve This Problem{{/link-to}}</div>
    </div>
    <div class="image"><a href="#"> <img src="{{problem.image}}" alt="event-4" title="event-4" width="560" height="240"> </a></div>
  </div>
</div>

