<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="thumbnail card problemCard problem-sub-card">
    <!--<span class="point-circle"><span class="number"><strong>100</strong></span><span class="pointtxt"><strong>Points</strong></span></span>-->
    <div class="problem-image-wrapper">
      <img src={{problem.image}} width="100%" />
    </div>
    {{#if dailycb}}
    <div class="posrel">
      <span class="card-date">{{dailycb.UTCDay}} {{dailycb.UTCMonth}}</span>
    </div>
    {{/if}}

    <!--
    <div class="clearfix timeLeft">
      <span class="timetxt">TIME LEFT:</span>
      <span class="pull-right text-center">
        <span class="pull-left marginR10">
          <span class="hours">10</span> HRS</span>
        <span class="pull-left marginR10"><span class="minutes">00</span> MIN</span>
        <span class="pull-left"><span class="seconds">00</span> SEC</span>
      </span>
    </div> -->
    <div class="caption problem-wrapper-grid">
      <h3>{{problem.name}}</h3>
      {{#if (eq i 0)}}<span class="label label-info">Today's CodeByte</span>{{/if}}
      <div id="tags">
        {{#each problem.tags as |tag|}}
          <img src="/images/tag.png" alt=""/><font size="1">{{tag}}</font>{{/each}}
      </div>
      <hr />
      <p class="smallcircle"><span class="circlepoint">100</span><span class="lblcircle">Points</span></p>
        {{#link-to link problem.id class="btn btn-raised g-bg-blush2 waves-effect btn-sm" role="button"}}
          {{#if archived}}Leaderboard{{else}}Attempt{{/if}}
        {{/link-to}}
    </div>
  </div>
</div>
