<h3>Total Score <mark>{{model.attempt.result.score}}</mark></h3>


<div class="questions-container">
    <ul>
        {{#each model.attempt.result.questions as |question|}}
            <li>
                {{#each model.quiz.questions as |mquestion|}}
                    {{#if (eq mquestion.id question.id)}}
                        <div class="title">
							<h4>{{mquestion.title}}</h4>
                        </div>
                    {{/if}}
                {{/each}}

                <div class="choices-container">
                    {{#if question.correctly-answered}}
                        {{#each question.correctly-answered as |opt|}}
                            <div class="choice">
                                <span class="red">x</span><span class="">{{opt.title}}</span>
                                [<strong>Score: </strong><span class="green"> {{question.score}}</span>]
                            </div>
                        {{/each}}
                    {{/if}}

                    {{#if question.incorrectly-answered}}
                        {{#each question.incorrectly-answered as |opt|}}
                            <div class="choice">
                                <span class="green">✓</span><span class="">{{opt.title}}</span>
                                [<strong>Score: </strong><span class="red"> {{question.score}}</span>]
                            </div>
                        {{/each}}
                    {{/if}}
                </div>
            </li>
        {{/each}}
    </ul>
</div>
