<div class="header sticky-header">
    <div class="header-left">
        <div class="heading">
            {{competition.name}}
        </div>
    </div>
    <div class="divider-h"></div>
    <div class="header-right">
        <div>
            <div class="start-end">
                <div class="text-uppercase text-left">Starts</div>
                <div class="red">{{competition.startDateString}}</div>
            </div>
            <div class="start-end">
                <div class="text-uppercase text-left">Ends</div>
                <div class="red">{{competition.endDateString}}</div>
            </div>
        </div>
        {{#if session.isAuthenticated}}
            <button class="btn-solid" {{action 'participate' competition.id}}>Participate!</button>
        {{else}}
            <button class="btn-solid" {{action 'popup'}}>Login To Participate</button>
        {{/if}}
    </div>
</div>

<div class="boxer">
    {{!-- <div class="img-banner bg-grey" style="background-image: url('{{competition.photo}}')"></div> --}}
	<div class="img-banner bg-grey" style="background-image: url('{{competition.banner}}')"></div>

    {{tab-nav tabs=tabs activeTab=activeTab}}

    {{#if (eq activeTab 0)}}
        <div id="tab1" class="tab-content">
            <p class="markdown semi-bold">
                {{markdown-to-html competition.overview}}
            </p>
        </div>
    {{/if}}

    {{#if (eq activeTab 1)}}
        <div id="tab2" class="markdown semi-bold tab-content">
            {{markdown-to-html competition.description}}
        </div>
    {{/if}}

    {{#if (eq activeTab 2)}}
		<div id="tab3" class="tab-content">
            {{markdown-to-html competition.prizes}}
		</div>
    {{/if}}

    {{#if (eq activeTab 3)}}
        <div id="tab4" class="tab-content">
            <p class="markdown semi-bold">
                {{markdown-to-html competition.faqs}}
            </p>
		</div>
    {{/if}}
</div>
