<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <h2>This Week's Code Bytes</h2>
      <small class="text-muted">One question each day, to see what you are made of</small>
    </div>
    {{#each mainProblem as |dailycb|}}
    <div class="row clearfix">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="card greenhead">
          <div class="header">
            <h2>{{dailycb.problem.name}}</h2>
          </div>
          <div class="body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                <div class="row daily-problem-div">
                  <p class="para">{{dailycb.problem.content.content.description}}</p>
                </div>
                  {{#each dailycb.problem.tags as |tag|}}
                    <span class="marginR10"><img src="/images/tag.png" alt=""/><font size="3">{{tag}}</font></span>
                  {{/each}}
                <div class="row">
                  <hr>
                  <div class="col-lg-5 col-md-5 col-sm-12">
                    <p>{{#link-to 'practice.weekly-problem.index' dailycb.problem.id class="btn btn-raised g-bg-blush2 waves-effect btn-lg" role="button"}}See Details & Attempt{{/link-to}}</p>
                  </div>
                </div>
                <div class = "row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pt-detail">
                    <ul class="pt-category">
                      <li>
                        <a href="#">
                          <span>Points</span>
                          <i class="material-icons">grade</i>
                          <span>100</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span>Time</span>
                          <i class="material-icons">access_time</i>
                          <span>24 Hours</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span>Max</span>
                          <i class="material-icons">trending_up</i>
                          <span>{{dailycb.maxscore}}</span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <span>Total</span>
                          <i class="material-icons">group</i>
                          <span>{{dailycb.count}}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              {{#clock-view}}{{/clock-view}}
            </div>
          </div>
        </div>
      </div>
       <div class="col-sm-4 col-md-4 col-lg-4 col-xs-12">
            <div class="card">
                <h4 class="text-center strong"><strong>Leaderboard</strong></h4>
                   <div class="generate-scroll-y">{{#problem-leaderboard avatar=true leaderboard=leaderboard}}{{/problem-leaderboard}}
                   </div>
            </div>
      </div> 
    </div>
    {{/each}}
   

    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>PREVIOUS CODE BYTES</h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              {{#each otherProblems as |dailycb|}}
                {{#problem-view dailycb=dailycb archived=true link='practice.weekly-problem.index' problem=dailycb.problem.content}}{{/problem-view}}
              {{/each}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>