<div class="tab-nav">
    {{#each tabs as |tab index|}}
        <div class="tab {{if (eq index activeTab) "active" ""}} tab-label" {{action "setActiveTab" index}}>
            {{tab.name}}
        </div>

        <div class="tab {{if (eq index activeTab) "active" ""}} tab-icon" {{action "setActiveTab" index}}>
            <img src="{{tab.icon}}" alt="">
        </div>
    {{/each}}
</div>